body {
  background-color: #f9f9f9;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.content-wrapper{
	max-width: 1024px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}