.button {
	color: #FFF;
	background-color: #26d3ea;
	float: right;
	padding: 7px 30px;
}

.button-border {
	border: 2px solid #FFF;
	padding: 9px 40px;
	color: #FFF;
	font-weight: 300;
	text-indent: center;
	vertical-align: middle;
}
input, .actions a {
	margin: 20px 8px;
	width: 176px;
	float: left;
}
input {
	background-color: rgba(0,151,172,0.1);
	border: 1px solid rgba(0,151,172,0.6);
	padding: 8px;
	font-size: 20px;
}