footer {
	height: 100px;
	background-color: black;
	text-align: center;
	vertical-align: center;
	margin-top: 20px;
	padding:20px;
}

.partners {
	margin: 0 auto;
	background-color: #ea7b26;
	clear: both;
	padding: 20px 5px;
    font-size: 15px;
    color: rgba(255,255,255,0.8);
    text-align: center;
}
.social-icons{
	margin: 10px auto;
}
.social-icons h3 {
	margin-bottom: 20px;
}
.parceiros-icons {
	margin: 20px auto;
}

.copyright {
	padding: 10px 5px;
	background-color: #fff;
	color: #ea7b26;
	margin: 0 30px;
	font-size: 20px;
	font-family: sans-serif;
	height: 60px;
	text-align: center;
	vertical-align: middle;
}
.copyright img {
	width: 130px;
    margin: 0 47px;
    vertical-align: middle;
}
.copyright span {
	vertical-align: middle;
}
