
section.palestrantes {
	padding: 20px;
	margin: 0 auto;
	clear: both;
}

section.palestrantes .content-wrapper {
	max-width: 1150px;
}


.twitter {
	background-color: rgba(38, 211, 234, 0.8);
	color: rgb(38, 211, 234);
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	max-width: 910px;
}

.metodo-apollo {
	max-width: 1024px;
	padding: 0 50px;
	margin: 0 auto;
	clear: both;
	padding: 30px 10px;
}
.metodo-apollo > h2 {
	font: 'Lato', sans-serif;
	font-size: 35px;
	font-style: italic;
	text-align: right;
	margin: 20px 0;
}
.metodo-apollo > p {
	font: 'Lato', sans-serif;
	text-align: right;
	max-width: 450px;
	float: right;
	font-weight: 2;
}
.metodo-apollo > a {
	clear: both;
	margin: 20px 0;
}
.hackathon-social {
	font-size: 30px;
	font-family: sans-serif;
	clear: both;
  	padding: 0 50px;
  	/*background-color: #e5f8fb;*/
  	text-align: center;
  	margin: 140px auto 0 auto;
  	
}

.actions {	
	text-align: center;
	margin: 20px auto;
    clear: both;
    max-width: 600px;
}
.tabelas {
	max-width: 685px;
	margin: 0 auto;
	font-size: 20px;
}

.programação, .cronograma {
	
}
.tabela {
	margin: 10px 20px;
	width: 300px;
	text-align: left;
	color: #FFF;
	float: left;
}
.tabela tr:nth-child(even) {
	background-color: #01b5ce;
}
.tabela tr:nth-child(odd) {
	background-color: #0097ac;
}
.tabela	tr td, .tabela tr th {
    padding: 10px 15px;
}