
section.palestrantes {
	padding: 20px;
}
.palestrantes > h1 {
	font-size:35px;
	color: #26d3ea;
}

.twitter {
	background-color: rgba(38, 211, 234, 0.8);
	color: rgb(38, 211, 234);
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	max-width: 910px;
}

.metodo-apollo {
	max-width: 500px;
	float: right;
	padding: 0 50px;

}
.metodo-apollo > h2 {
	font: 'Lato', sans-serif;
	font-size: 30px;
	font-style: italic;
	text-align: right;
}
.metodo-apollo > p {
	font: 'Lato', sans-serif;
	text-align: right;
}

.hackathon-social {
	clear: both;
  	padding: 0 50px;
  	background-color: #e5f8fb;
  	text-align: center;
}
.actions {
	text-align: center;
	margin: 0 auto;
}

.programação, .cronograma {
	margin: 10px auto;
	width: 300px;
	text-align: left;
	color: #FFF;
}
.tabela {
	width: 300px;
}
.tabela tr:nth-child(even) {
	background-color: #01b5ce;
}
.tabela tr:nth-child(odd) {
	background-color: #0097ac;
}
.tabela	tr td, .tabela tr th {
    padding: 10px 15px;
}