
section.palestrantes {
	padding: 20px;
	margin: 0 auto;
	clear: both;
	/*background-image: url("../../img/bg-index/bg_parallax.png");
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;*/  	
}

section.palestrantes .content-wrapper {
	max-width: 1150px;
}


.twitter {
	background-color: rgba(38, 211, 234, 0.8);
	color: rgb(38, 211, 234);
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	max-width: 910px;
}

.metodo-apollo {
	max-width: 1024px;
	margin: 0 auto;
	padding: 30px 10px;
}
.metodo-apollo > h2 {
	font: 'Lato', sans-serif;
	font-size: 35px;
	font-style: italic;
	text-align: right;
	margin: 20px 0;
}
.metodo-apollo > p {
	font: 'Lato', sans-serif;
	text-align: right;
	max-width: 580px;
    line-height: 2.2;
	float: right;
}
.metodo-apollo > a {
	clear: both;
	margin: 20px 0;
}
.hackathon-social {
	font-size: 30px;
	font-family: sans-serif;
	clear: both;
  	padding: 10px 5px;
  	
  	text-align: center;
  	margin: 0 auto;
  	/*
  	background-color: #e5f8fb;
  	background-image: url("../../img/bg-index/bg_parallax_2.png");
  	background-repeat: no-repeat;
  	background-size: auto 200px;
  	background-position: top center;  	*/
}



.tabela {
	margin: 30px auto;
	width: 350px;
	text-align: left;
	border-radius: 4px;
}
.tabela tr:nth-child(even) {
	background-color: #01b5ce;
	color: rgba(255,255,255,0.8);
}
.tabela tr:nth-child(odd) {
	background-color: #0097ac;
	color: rgba(255,255,255,0.8);
}
.tabela	tr td, .tabela tr th {
    padding: 20px 15px 20px 25px;
}
.tabela tr th {
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
}
.programação, .cronograma {
	font-size: 18px;
}
.left {
	float: left;
}
.right {
	float: left;
	margin-top: 100px;
}

/*turar o right
centralizar

arrumar form
*/

.actions {	
	text-align: center;
	margin: 30px auto 0 auto;
    clear: both;
    max-width: 680px;
}
/*.tabelas {
	max-width: 685px;
	margin: 0 auto;
}*/

@media (max-width: 967px) {
	.hackathon-social img {
		max-width: 300px;
	}
	.hackathon-social figure {
		margin: 1em auto;
	}
	.tabela {
		max-width: 300px;
	}
	.hackathon-social .content-wrapper {
		max-width: 700px;
		margin: 0 auto;
		padding: 20px 0;
	}
	.left {
		margin-right: 40px;
	}
	.metodo-apollo {
		padding-right: 30px;
		padding-left: 30px;
	}
}
@media (max-width: 751px) {
	.hackathon-social .content-wrapper {
		max-width: 400px;
		margin: 0 auto;
		padding: 20px 0;
	}
	.tabela {
		max-width: 350px;
		margin-left: 0;
		margin-right: 0; 
	}
	.menu a {
		font-size: 20px;
	}
}

@media (max-width: 751px) {
	.index > header {
		height: 60vh;
	}
	.banner-ready h2 {
		font-size: 30px;
	}
	.hackathon-social .content-wrapper {
		max-width: 300px;
		margin: 0 auto;
		padding: 20px 0;
	}
	
	.tabela {
		max-width: 290px;
	}
	.hackathon-social h1 {
		text-align: left;
		font-size: 25px;
	}
	.copyright span {
		font-size: 15px;
	}
	.copyright img {
		margin: 0 20px;
	}
}

@media (max-width: 500px) {
	.logo {
		width: 125px;
	}
	.index nav.menu a, nav.menu > .active > li > a {
		font-size: 15px;
		margin-left: 0;
	}

	.hackathon-social img {
		max-width: 200px;
		text-align: left;
	}
	.hackathon-social h1, .metodo-apollo h2 {
		font-size: 25px;
	}
	.copyright span {
	    display: inherit;
	}
}
@media (max-width: 390px) {
	.button-border {
		padding: 5px;
	}
	.banner-ready h2, .palestrantes h1, .ca-container h3 {
		font-size: 20px;
	}
	.metodo-apollo {
		padding-left: 5px;
		padding-right: 5px;
	}
}
