body.social {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+4,00b0ff+37,000000+87,000000+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(0,176,255,1) 37%, rgba(0,0,0,1) 87%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 4%,rgba(0,176,255,1) 37%,rgba(0,0,0,1) 87%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 4%,rgba(0,176,255,1) 37%,rgba(0,0,0,1) 87%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */



	height: 3500px;
	overflow: hidden; /* arrumar scroll duplo*/
}


.background {
	height: 72%; /*corrigir a altura do header e footer*/
	margin: 0 auto;
	background-image: url(../../img/bg-social/terra.png), url(../../img/bg-social/lua.png),  url(../../img/bg-social/estrelas.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center top, center bottom, center bottom;
  background-size: 50% auto, 100% auto, 100% auto;
}

.social > header {
	height: 300px;
}

.social > header > .logo {
	background-image: url(../../img/logo.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	text-indent: -9999px;
	width: 180px;
	height: 42px;
	float: left;
	margin: 20px;
}

.social > header > .menu {
	float: right;
	margin: 20px;
}

.social > header > .menu > a {
	color: #F6921E;
	font-size: 30px;
}


.apollo {
	width: 255px;
	text-align: center;
	margin: 0 auto;
	clear: both;

	padding: 40px 0;
}
.apollo > h1 {
	line-height: 0.05;
	color: #F6921E;
}


.social > footer {
	height: 190px;
	background-color: rgba(165, 179, 186,0.4);
	margin: 0 auto;
	background-image: url(../../img/logo.png);
	background-repeat: no-repeat;
	background-size: 190px auto;
	background-position: right bottom;
}


.social > footer > h2 {
	color: #F6921E;
	margin: 20px;
}

.social > footer > a.button {
	background-color: #FF9800;
    border-radius: 9px;
    padding: 8px 30px;
    color: #fff;
}


/*Marcelo CSS*/
/*===========================
= 					Boxes						=
============================*/
.black-box {
	padding: 15px;
	border: 1px solid #FF9700;
	background-color: rgba(0,0,0, 0.6);
	color: #FF9700;
}
.black-box h2 {
	margin-top: 0;
	font-size: 27px;
}
/*===========================
= 					Menu						=
============================*/
.menu {
	margin-top: 20px;
	list-style: none;
}
.menu a {
	color: #F6921E;
	font-size: 22px;
}
.menu a:hover, .menu a:focus {
	text-decoration: none;
}
.dropdown-menu {
	background-color: transparent;
	border: 0;
	box-shadow: 0;
}
.dropdown-menu a {
	font-size: 15px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color: transparent;
	color: #F6921E;
}

/*===========================
= 					posts						=
============================*/
.post {
	height: 234px;
}
.icon {
	font-size: 50px;
	color: #FF4600;
	margin: 10px auto;
}
.imagem {
	display: block;
	margin-left: 37px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}
.line-before, .line-after {
	background-color: #FF9700;
	width: 4px;
	height: 82px;
	display: block;
	margin-left: 82%;
}
@media (max-width: 991px) {
	.line-before, .line-after, .icon, .imagem {
		display: none;
	}
}
