body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,00b0ff+37,000000+87,000000+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(0,176,255,1) 37%, rgba(0,0,0,1) 87%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(0,176,255,1) 37%,rgba(0,0,0,1) 87%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(0,176,255,1) 37%,rgba(0,0,0,1) 87%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	height: 3500px;
}

.background {
	height: 100%;
	margin: 0 auto;
	background-image: url(../../img/bg-social/terra.png), url(../../img/bg-social/lua.png),  url(../../img/bg-social/estrelas.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center top, center bottom, center bottom;
    background-size: 50% auto, 100% auto, auto auto;
}